#prefix-input {
  margin-top: 5px;
  padding: 0.3rem;
}

.header {
  color: #d74270;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.header img {
  cursor: pointer;
}

.hint-text {
  font-size: 85%;
  font-style: italic;
}

form {
  margin-block-end: 0 !important;
}

html {
  max-height: 90px;
}
